@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

.autour-one-regular {
    font-family: "Autour One", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

* {
    font-family: 'Autour One', serif;
}