@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

.autour-one-regular {
    font-family: "Autour One", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

* {
    font-family: 'Autour One', serif;
}

body {
    text-align: center;
}

hr {
    width: 500px;
    height: 3px;
    background-color: black;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 147px;
    height: 147px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.win {
    background-color: lightgray;
    color: red;
}